@charset "UTF-8";

html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(95, 45, 143);
}


.container {
    display: grid;
    /*Inicia o grid*/
    grid-template-columns: 2fr 1fr;
    /*Define a quantidade de colunas, ex: 3fr 1fr, duas colunas com a primeira tendo 3 partes e a ultima uma parte*/
    grid-template-rows: 20vh 70vh 10vh;
    /*Define a quantidade de linhas, ex 20vh 70vh 10vh, são 3 linhas com cada linha tendo 20 da visao da tela de altura, 70, 10*/
    /*grid-gap: 20px;   Gera espaço entre os itens*/
    grid-template-areas: "h h"
        "m a"
        "f f"
}

/*
Formas de fazer:
grid-column-start:value; começa
grid-column-end:value; termina

grid-column: value/value; começa/termina

grid-row-start:value; começa
grid-row-start:value; termina

grid-row:value/value; começa/termina

grid-template-areas: "h h"
                    "m a"
                    "f f"
ele indica o que vai em cada linha e coluna é praticamente uma tabela!
é você coloca a propriedade grid-area com o nome da linha ex: h,m,a,f ...
*/

header {
    background-color: yellow;
    grid-area: h;
}

main {
    background-color: green;
    grid-area: m;
}

aside {
    background-color: aquamarine;
    grid-area:a;
}

footer {
    background-color: red;
    grid-area:f;
}